[mysqld]

# Networking & Connection Rules
bind-address        = 0.0.0.0    # Allow remote network connections
port                = 3306       # Define the active communication port
max_connections     = 500        # Increase simultaneously allowed user

# Storage and Directories
datadir             = /var/lib/mysql  # Set target database storage path
